@CHARSET "UTF-8";
* {
	padding:0;
	margin:0;
}

body {
	background:#fff;
	color:#444;
	font-size: 110%; /* Resets 1em to 10px */
	font-family: georgia,serif, Verdana, 'Lucida Grande', Tahoma, Arial, Sans-Serif;
}

h1 {
	font-size:120%;
	color:#77a240;
	margin:5px;
	display: inline;
}

#content h1 {
	margin:10px;
	display:block;
	text-align:center;
}

a {
	color:#77a240;
	text-decoration:none;
}

ol {
	margin-top: 10px;
	margin-left: 20px;
}

p {
	margin:10px 5px;
}

ul {
	margin-top: 10px;
	margin-left: 20px;
}

li {
	margin:5px 5px;
}

#footer {
	clear:both;
	margin-top:20px;
	border-top: 1px solid #9aca3c;
	padding:10px;
	font-size:100%;
	text-align:center;
}

#header-title {
	margin:10px;
}

#logininfo{
	display:block;
}

#aboutinfo{
	margin:10px;
}

#menu {
	background: #9aca3c;
	color:#444;
	width:100%;
	text-align: center;
	padding:10px 0;
	font-weight:bold;
	font-size:90%;
}

#menu a{
	color: #444;
}


.clickable {
	cursor:pointer;
}

p.video {
	text-align:center;
}
img.video{
	border:1px solid black;
}

#modules {
	min-height:200px;
}
